/* style for header */
.logoPicture
{
	
	width: 100px;
	margin-top: 10px;
	padding: 0px 100px 0px 30px;
}

nav
{
	padding-bottom: 15px;
	border-bottom: 1px solid #d9dadb;
}

nav a
{
	color: #636262;
	padding: 10px 50px;
	white-space: nowrap;
	text-decoration: none;
}

a:hover
{
	border-bottom: 6px solid #03A9F4;
}

#logout
{
	margin-top: 6px;
	float: right;
}

/* style for footer */
footer {
	position: fixed;
	bottom: 0;
	background-color: #efefef;
	text-align: right;
	color: #636262;
	font-size: 10px;
	width: 100%;
}

footer p
{
	margin-right: 17%;
}