body 
{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 100%;
  margin-bottom: 100px;
}
ul
{
	list-style: none;
	display:table-row;
}

li
{
	float: left;
	padding: 20px;
	display:table-row;
}

fieldset
{
	width: 90%;
}
.fieldset-container
{
	
}

section
{
	width: 90%;
}

form
{
	flex-direction: column-reverse;
}

footer 
{
	position: fixed;
	bottom: 0;
	background-color: #efefef;
	text-align: right;
	color: #636262;
	font-size: 10px;
	width: 100%;
}

footer p
{
	margin-right: 17%;
}

#submitButton
{
	background-color: #03A9F4;
	color: #FFFFFF;
	border: 0;
	float:right;
	padding: 7px 17px 7px 17px;
	box-shadow: 0 4px 2px 1px rgba(182, 182, 182, 0.6);
	border-radius: 3px;
}

legend, h5
{
	color: #03A9F4;
}

textarea
{
	resize: none;
	width: 1000px;
	border: 1px solid black;
}

/* Table */
table
{
	margin: 0 auto;
	text-align: left;
	border-collapse: collapse;
	align-items: center;
}

th
{
	background-color: #03A9F4;
	color: #FFFFFF;
	width: 29%;
	height: 20%;
	padding: 17px;
}

.radioButtons
{
	height: 5%;
	border: 1px solid black;
}

td
{
	padding: 17px;
}

.fieldsetContainer
{
	flex-direction: column-reverse;
}